TOKEN=""

# DATABASE
USERNAME=""
PASSWORD=""
DATABASE=""

# CONFIG
DEFAULTQUIZLIMIT=25 # PER USER // Everyone can create quizzes (in dms)!
DEFAULTSERVERQUIZLIMIT=100 # PER SERVER // If you have the quiz role, you can add your quizzes into the server!
PREMIUMQUIZLIMIT=1000 # PER USER
PREMIUMSERVERQUIZLIMIT=1000 # IF THE SERVER OWNER IS A PREMIUM MEMBER
QUIZPACKSMAXQUIZZES=30

QUIZTITLEMAXLENGHT=80
QUIZDESCMAXLENGHT=250
QUIZANSWERMAXLENGHT=50

DEFAULT_LANGUAGE="en"


PERMISSIONS:
OWNER_PERMISSIONS = ["CSQ"]                  # Clone server quizzes to another server
PREMIUM_PERMISSIONS = ["CQP", "UQP"]         # Create/use quiz packs
ROLE_PERMISSIONS = ["CUQ"]                   # Clone user quizzes to server
